<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Date/Time</th>
    <th scope="col">Barber</th>
    <th scope="col">Color</th>
  </tr>
  </thead>
  <% @results.each do |row| %>
    <tbody>
      <tr>
        <td><%= row['first_name'] %></td>
        <td><%= row['last_name'] %></td>
        <td><%= row['datetime'] %></td>
        <td><%= row['barber'] %></td>
        <td><%= row['color'] %></td>
      </tr>
    </tbody>
  <% end %>
</table>