<head>
  <style>
    h1 {font-family:fantasy;
      color: #563d7c;
      text-align: center;
      font-weight: bold;
      margin-top: 50px;
      margin-bottom: 40px;}
  </style>

  <script type="text/javascript">
      $(function(){
          $('#colorpicker').simplecolorpicker();
      });
  </script>
</head>

<body>
  <h1>Haircut sessions</h1>

  <table class="table table-hover">
    <thead style="background-color: #ffc823; color: #563d7c">
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Open Time</th>
    </tr>
    </thead>
    <tbody style="color: #563d7c">
    <tr>
      <th scope="row">Monday</th>
      <td>10:00-18:00</td>
    </tr>
    <tr>
      <th scope="row">Tuesday</th>
      <td>10:00-18:00</td>
    </tr>
    <tr>
      <th scope="row">Wednesday</th>
      <td>10:00-18:00</td>
    </tr>
    <tr>
      <th scope="row">Thursday</th>
      <td>10:00-18:00</td>
    </tr>
    <tr>
      <th scope="row">Friday</th>
      <td>10:00-18:00</td>
    </tr>
    <tr>
      <th scope="row">Saturday</th>
      <td>10:00-17:00</td>
    </tr>
    <tr>
      <th scope="row">Sunday</th>
      <td>10:00-17:00</td>
    </tr>
    </tbody>
  </table>

  <form action="/visit" method="POST">
    <div class="row" style="margin-left: 10px; color: #563d7c">

      <div class="form-group" style="width:300px">
        <label>First name</label>
        <input name="first_name" type="text" class="form-control" placeholder="First name" value="<%= @first_name %>">
      </div>

      <div class="form-group" style="width:300px">
        <label>Last name</label>
        <input name="last_name" type="text" class="form-control" placeholder="Last name" value="<%= @last_name %>">
      </div>

    </div>

    <div class="row" style="margin-left: 10px; color: #563d7c">
      <div class="form-group">
        <label>Дата записи</label>
        <input type="date" class="form-control" name="user_date" style="width:150px" placeholder="Дата и время записи" value="<%= @user_date %>">
      </div>

      <div class="form-group">
        <label>Время записи</label>
        <input type="time" class="form-control" name="user_time" style="width:150px" placeholder="Дата и время записи" value="<%= @user_time %>">
      </div>
    </div>

    <div class="row" style="margin-left: 10px; color: #563d7c; width:150px">
      <div class="form-group">
        <label>Выберите мастера</label>
        <select name="barber" class="form-control" value="<%= @master %>">
          <option <%= @barber == 'Jessie Pinkman' ? 'selected' : '' %>>Jessie Pinkman</option>
          <option <%= @barber == 'Gus Fring' ? 'selected' : '' %>>Gus Fring</option>
          <option <%= @barber == 'Walter White' ? 'selected' : '' %>>Walter White</option>
        </select>
      </div>

      <div class="form-group">
        <label>Choice hair color:</label>
        <select id="colorpicker" name="colorpicker" value="<%= @colorpicker %>">
          <option value="#7bd148">Green</option>
          <option value="#5484ed">Bold blue</option>
          <option value="#a4bdfc">Blue</option>
          <option value="#46d6db">Turquoise</option>
          <option value="#7ae7bf">Light green</option>
          <option value="#51b749">Bold green</option>
          <option value="#fbd75b">Yellow</option>
          <option value="#ffb878">Orange</option>
          <option value="#ff887c">Red</option>
          <option value="#dc2127">Bold red</option>
          <option value="#dbadff">Purple</option>
          <option value="#e1e1e1">Gray</option>
        </select>
      </div>

      <button type="submit" class="btn btn-warning" style="background-color: #ffc823; color: #563d7c; font-weight: bold; border-color: #563d7c">Confirm</button>
    </div>
  </form>
</body>